<a href="https://colab.research.google.com/github/DIVYA14797/pandas/blob/main/pandas_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a pandas series that contains the following data : 4,8,15,16,23, and 42 . Then , print the series .

In [ ]:
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

2. Create a variable of list type containing 10 elements in it , and apply pandas.Series function on the variable print it .

In [ ]:
import pandas as pd

# Create a list containing 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Apply pd.Series() function on the list
series = pd.Series(my_list)

# Print the Series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

3. Create a pandas DataFrame that contains the following data:

Name - Alice , Bob , Claire           
Age - 25,30,27          
Gender -Female , Male , Female            

then print the DtataFrame .

In [ ]:
import pandas as pd

# Create a dictionary with the provided data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create a Pandas DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

4. What is 'DataFrame ' in pandas and how is it different from pandas.series ? Explain with an example .

In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, where data is organized into rows and columns. Each column in a DataFrame represents a different variable, while each row represents a different observation or record.

On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, etc.). It can be thought of as a single column of data in a DataFrame.

Here's an example to illustrate the difference between a DataFrame and a Series:

In [ ]:
# Example data for DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Creating a DataFrame
df = pd.DataFrame(data)

# Example data for Series
ages = pd.Series([25, 30, 27], name='Age')

# Print the DataFrame
print("DataFrame:")
print(df)

# Print the Series
print("\nSeries:")
print(ages)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

5. What are some common functions you use to manipulate data in pandas DataFrame ? Can you give an example of when you might use one of these functions ?

There are many common functions in Pandas used for manipulating data in DataFrame. Some of the most commonly used ones include:

1. head() and tail(): These functions are used to display the first or last few rows of the DataFrame, respectively. They are helpful for quickly inspecting the structure and content of the DataFrame.

2. info() and describe(): info() provides a concise summary of the DataFrame including the data types, number of non-null values, and memory usage. describe() gives statistical information such as mean, median, min, max, etc. for numerical columns.

3. drop(): This function is used to drop rows or columns from the DataFrame based on specified labels.

4. rename(): It is used to rename columns or index labels in the DataFrame.

5. fillna(): This function is used to fill missing values (NaNs) in the DataFrame with specified values.

6. drop_duplicates(): It is used to remove duplicate rows from the DataFrame.

7. groupby(): This function is used to group data based on some criteria and perform aggregate operations on each group.

8. merge() and concat(): These functions are used to combine multiple DataFrames either by merging them based on common columns or by concatenating them along rows or columns.

9. apply(): It applies a function along an axis of the DataFrame.

10. sort_values() and sort_index(): These functions are used to sort the DataFrame by values or by index labels, respectively.

11. pivot_table(): It creates a spreadsheet-style pivot table as a DataFrame.

12. cut() and qcut(): These functions are used for binning data into discrete intervals.

Here's an example of when you might use one of these functions:

In [ ]:
import pandas as pd


# Example DataFrame
data = {
    'Product ID': ['P001', 'P002', 'P003', 'P004'],
    'Product Name': ['A', 'B', 'C', 'D'],
    'Quantity Sold': [100, 0, 150, 0],
    'Price': [10, 20, 15, 25]
}

df = pd.DataFrame(data)

# Fill missing values in 'Quantity Sold' column with the mean quantity sold
mean_quantity_sold = df['Quantity Sold'].mean()
df['Quantity Sold'] = df['Quantity Sold'].fillna(mean_quantity_sold)

print(df)

  Product ID Product Name  Quantity Sold  Price
0       P001            A            100     10
1       P002            B              0     20
2       P003            C            150     15
3       P004            D              0     25

6. Which of the following is mutable in nature Series ,DataFrame , Panel ?

* Series: A Pandas Series is mutable, meaning you can modify its elements after creation. You can change values, add new elements, or remove existing ones from a Series.

* DataFrame: Similarly, a Pandas DataFrame is also mutable. You can modify its values, add or remove rows or columns, or perform various other operations to manipulate the data in the DataFrame.

* Panel: However, Pandas Panel objects are not mutable. Panels were a 3D data structure in Pandas for handling data with three dimensions: items, major_axis (rows), and minor_axis (columns). However, Panel has been deprecated since version 0.25.0 of Pandas, and it's recommended to use other data structures like DataFrame or MultiIndex instead. Regardless, Panels were not mutable.

7. Create a DtataFrame using multiple series . Explain with an example .

To create a DataFrame using multiple Series in Pandas, you can pass these Series as a dictionary to the pd.DataFrame() constructor. Each Series will become a column in the DataFrame, and their indices will align to form the DataFrame's index.

Here's an example to illustrate creating a DataFrame using multiple Series:

In [ ]:
import pandas as pd

# Define multiple Series
s1 = pd.Series([1, 2, 3], name='A')
s2 = pd.Series(['X', 'Y', 'Z'], name='B')
s3 = pd.Series([True, False, True], name='C')

# Create a DataFrame using the Series
df = pd.DataFrame({'Column1': s1, 'Column2': s2, 'Column3': s3})

# Print the DataFrame
print(df)

   Column1 Column2  Column3
0        1       X     True
1        2       Y    False
2        3       Z     True